.button {
  background-color: rgb(116, 116, 229);
  padding: 20px;
  width: 120px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  color:white;
  font-size: large;
  box-shadow: 2px 2px 3px rgba(50, 50, 50, .8);
}
